*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gainsboro;
}

.container{
    width: 200px;
    margin-top: 50px;
}

.caja{
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    padding-left: 10px;
    margin-top: 10px;
}

.boton{
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    padding-left: 10px;
    background-color: rgba(0, 0, 255, 0.479);
    color: white;
    margin-top: 10px;
}